{% extends "base.html" %}

{% block title %}Domovská stránka{% endblock %}

{% block content %}
<div class="container text-center mt-5">
    <h1>Vítejte v systému HeartMonitor</h1>
    <p class="lead">Platforma pro monitorování srdeční aktivity a správu pacientů</p>

    {% if not current_user.is_authenticated %}
    <div class="mt-4">
        <a href="{{ url_for('auth.login') }}" class="btn btn-primary btn-lg">Přihlásit se</a>
        <a href="{{ url_for('auth.register') }}" class="btn btn-secondary btn-lg">Registrace</a>
    </div>
    {% else %}
        {% if current_user.is_authenticated%}
            <h3 class="mt-4">Vaše poslední srdeční aktivita</h3>
            <canvas id="heartActivityChart"></canvas>
                <!-- Odkaz na stránku se seznamem pacientů (pouze pro lékaře) -->
            {% if current_user.role == 'lekar' %}
                <div class="mt-4">
                    <a href="{{ url_for('main.moji_pacienti') }}" class="btn btn-primary">Seznam pacientů</a>
                </div>
            {% endif %}
        {% endif %}
    {% endif %}
</div>

{% if current_user.is_authenticated%}
{% if casove_razitka %}
<canvas id="heartActivityChart"></canvas>

<div id="heart-data" 
     data-cas='{{ casove_razitka | tojson | safe }}' 
     data-bpm='{{ hodnoty_srdce | tojson | safe }}'></div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='js/heart_chart.js') }}"></script>

{% else %}
<p class="text-muted">Nemáte žádné zaznamenané údaje o srdeční aktivitě.</p>
{% endif %}
{% endif %}
{% endblock %}